:root {
  color-scheme: dark;
}

body {
  font-family: 'Noto Sans SC', sans-serif;
  background-color: #1c1917;
  margin: 0;
  width: 100%;
  overscroll-behavior-y: none;
}

.font-serif { font-family: 'Noto Serif SC', serif; }

.custom-scrollbar::-webkit-scrollbar { width: 4px; }
.custom-scrollbar::-webkit-scrollbar-track { background: transparent; }
.custom-scrollbar::-webkit-scrollbar-thumb { background: rgba(255, 255, 255, 0.2); border-radius: 10px; }

.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
